<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add New Blog</h1>
        <form action="/adduser" method="POST">
            <input type="text" class="text" name="name" required placeholder="Enter your Name" autocomplete="off"><br>
            <input type="text" class="text" name="blog" required placeholder="Enter your blog Name"
                autocomplete="off"><br>
            <textarea id="w3review" class="text" name="description" rows="4" cols="50"
                placeholder="Enter Description"></textarea><br>
            <input type="submit" class="submit">
        </form>

    </div>

</body>

</html>