<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add New User</h1>
        <a href="/new" class="container--btn">Click Here</a>
    </div>
    <% users.map(user=>{ %>
    <div class="card">
        <h1><%=user.blog%></h1>
        <h3><%=user.description%></h3>
        <h4>Written by:<%=user.name%></h4>
        <button>delete</button>
        <button>Edit</button>
    </div>
    <%  });%>
</body>

</html>